.image-card {
    object-fit: contain;
    width: 50%;
}

.image {
    height: 50%;
}

.single-item-grid {
    height: 400px;
}

.single-ad-img {
    width: 100%;
    object-fit: cover;
}

.single-ad {
    object-fit: cover;
    object-position: 95% 5%;
}

.single-ad-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 95% 5%;
}

.store-logo {
    height: 1000px;
    width: 1000px;
}

.dashboard-menu ul {
    padding-left: 20px;
}

.dashboard-menu ul {
    padding: 0 20px;
}

.dark {
    color: #292221;
    font-weight: bold;
}

.red {
    color: #e02306;
    font-weight: bold;
}

.green {
    color: #06e081;
    font-weight: bold;
}
